<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/article.css">
    <link rel="stylesheet" href="../styles/add.css">
    <script src="../scripts/loading.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <title>proof of concept</title>
</head>
<body>
    <!-- loading stats -->
<!-- <div class="spinner-wrapper">
    <div class="loding_spinner">
        <div id="counter">loading</div>
        <hr id="hr">
    </div>

</div> -->

<header>
    <section>
        <img class="logo"  src="../images/logo.svg" alt="logo-HvA">
        <p class="fdnd"> Frontend<br>Design & Development</p>
    </section>

    <section class="head__container">
        <h1>Stay curious</h1>
        <p>Discover stories, thinking, and expertise from writers on any topic</p>
        <a class="btn-writing" href="/add">Start writing</a>
        <select  onChange="window.location.href=this.value">
            <option value="/">Read by author's name</option>
            <% smartzones.forEach((smartzone) => { %>
              <option  value="/article/<%- smartzone.smartzoneId %>"><%- smartzone.name %></option>
            <% }) %>
        </select>
    </section>
   
    <section class="serch_articl">
        <input id="input-search"   type="text" autocomplete="off" placeholder="Search a article...">
        <button class="btn-search">Search</button>
    </section>
</header>
