<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>proof of concept</title>
</head>
<body>
<header>
    <section>
        <img class="logo"  src="../images/logo.svg" alt="logo-HvA">
        <p class="fdnd"> Frontend<br>Design & Development</p>
    </section>
    <section class="head__container">
        <h1>Stay curious</h1>
        <p>Discover stories, thinking, and expertise from writers on any topic</p>
    </section>
    <section class="serch_articl">
        <input id="input-search"   type="text" autocomplete="off" placeholder="Search a article...">
        <button class="btn-search">Search</button>
    </section>

</header>
