<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.mini.css">
    <link rel="stylesheet" href="../styles/add.mini.css">
    <link rel="stylesheet" href="../styles/article.mini.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <title>proof of concept</title>
</head>
<body>
<header>
    <section>
        <img class="logo"  src="../images/logo.svg" alt="logo-HvA">
        <p class="fdnd"> Frontend<br>Design & Development</p>
    </section>
    
</header>
<main id="add-container">
    

    <!-- form section -->
    <section id="form__container">
   
        <h1>Writing article</h1>
 
        <form   class="form__post" action="/add"  method="post">
            <section class="post-aside">
                <h3>Article information</h3>
                <label for="smartzoneid">postId</label>
                <input type="number" name="smartzoneId"  id="smartzoneid">
    
                <label for="name">author</label>
                <input type="text" name="name" id="name">

                <label for="stad">title</label>
                <input type="text" name="town" id="stad">
     
                <label for="foto">image</label>
                <input type="text" name="image" id="foto" placeholder="https:/.......">
     
                <label for="functie">date</label>
                <input type="date" name="function" id="functie" min="2015-01-01">

            </section>
 
           
            <div class="post-textarea">
                <h3>Tell your story</h3>
                <textarea name="description" id="omschrijving-y"  placeholder="Start writing" cols="100" rows="100" ></textarea>
                <button class="btn--add" type="submit" value="submit">Publish</button>
            </div>
 
<!-- hidden -->
            <section id="api-hidden" style="display:none ;">
                <div>
                    <label for="locatie">Locatie</label>
                    <input type="text" name="location" id="locatie">
                </div>
     
                
     
                <div>
                    <label for="tijdstip">TijdStip</label>
                    <input type="text" name="time" id="tijdstip">
                </div>
     
                <div>
     
                    <label for="grootte">Grootte-plek</label>
                    <input type="text" name="size" id="grootte">
     
                </div>
     
                <div>
     
                    <label for="gebruik">Gebruik(%)</label>
                    <input type="text" name="utilization"  id="gebruik">
                </div>

            </section>
         </form>
 
    </section>
 
 
 
</main>
<footer>
    <a href="/" class="post-backPage">Backe to Blog's</a>
</footer>

</body>
</html>
