<%- include('../includes/head.ejs') %> 
<section class="contianer">
    <article>
        
            <span class="names">Clive </span>
            
            <h3>How I Overcame My Fear of the Ocean</h3>
            <img src="../images/ocean.jpg" alt="ocean">
            <p class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nam, beatae,
                in magnam maxime. Eius, iste ea! Est non dicta sit deserunt ipsa?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod cupiditate 
                assumenda voluptatibus provident hic tenetur laborum accusamus,
                 blanditiis fugit alias Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                 Architecto dolorum cum quod totam doloribus maiores quo libero 
                 delectus recusandae doloremque.
            </p>
        
    </article>
</section>
<%- include('../includes/foot.ejs') %> 