<%- include('../includes/head.ejs') %> 
<main id="main-container">
    <section class="contianer">
        <article>
            
                <span class="names">Clive Crabb</span>
                <h3>How I Overcame My Fear of the Ocean</h3>
                <img src="../images/ocean.jpg" alt="ocean">
                <p class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nam, beatae,
                    in magnam maxime. Eius, iste ea! Est non dicta sit deserunt ipsa?
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod cupiditate 
                    assumenda voluptatibus provident hic tenetur laborum accusamus,
                     blanditiis fugit alias Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                     Architecto dolorum cum quod totam doloribus maiores quo libero 
                     delectus recusandae doloremque.
                </p>
            
        </article>
    </section>
    <section class="aside-container">
        <article class="aside-content" >
                <a class="aside-link" href="">
                    <h6>How I Overcame lMy Fear of the Ocean</h6>
                    <img class="aside-imge" src="../images/ocean.jpg" alt="ocean">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        
                    </p>
                </a>
        </article>

        <article class="aside-content" >
            <a class="aside-link" href="">
                <h6>How I Overcame lMy Fear of the Ocean</h6>
                <img class="aside-imge" src="../images/ocean.jpg" alt="ocean">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    
                </p>
            </a>
    </article>

    <article class="aside-content" >
        <a class="aside-link" href="">
            <h6>How I Overcame lMy Fear of the Ocean</h6>
            <img class="aside-imge" src="../images/ocean.jpg" alt="ocean">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                
            </p>
        </a>
    </article>

    
    <article class="aside-content" >
        <a class="aside-link" href="">
            <h6>How I Overcame lMy Fear of the Ocean</h6>
            <img class="aside-imge" src="../images/ocean.jpg" alt="ocean">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                
            </p>
        </a>
    </article>
    
    <article class="aside-content" >
        <a class="aside-link" href="">
            <h6>How I Overcame lMy Fear of the Ocean</h6>
            <img class="aside-imge" src="../images/ocean.jpg" alt="ocean">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                
            </p>
        </a>
    </article>

    
    <article class="aside-content" >
        <a class="aside-link" href="">
            <h6>How I Overcame lMy Fear of the Ocean</h6>
            <img class="aside-imge" src="../images/ocean.jpg" alt="ocean">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                
            </p>
        </a>
    </article>

    </section>
   

</main>
<%- include('../includes/foot.ejs') %> 