<%- include('../includes/head.ejs') %> 
<main id="main-container">
    <section class=" article-contianer">
        <article>
            
                <span class="names">Clive Crabb</span>
                <h3>How I Overcame My Fear of the Ocean</h3>
                <img src="../images/ocean.jpg" alt="ocean">
                <p class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nam, beatae,
                    in magnam maxime. Eius, iste ea! Est non dicta sit deserunt ipsa?
                </p>
            
        </article>
    </section>
    <section class="aside-container">
        
        <!-- <a href="">
            <span class="names">Clive Crabb</span>
            <h3>How I Overcame My Fear of the Ocean</h3>
            <img src="../images/ocean.jpg" alt="ocean">
            <p class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Nam, beatae,
                in magnam maxime. Eius, iste ea! Est non dicta sit deserunt ipsa?
            </p>
        </a> -->
    </section>
   

</main>
<%- include('../includes/foot.ejs') %> 