/* POST Page */

#form__container{
    width: 70vw;
    padding: 1em;
    background-color: var(--green);
}
.form__post{
    display: flex;
    margin-top: 2.5em;
}
form h3{
    font-size: 1.1em;
    padding-bottom: .5em;
}
.post-aside{
    display: flex;
    flex-direction: column;
    width:20vw;
    height: 57vh;
    /* margin-top: 0; */
    padding: 1em;
    padding-top: .4em;
    border: none;
    /* border: .1em solid black; */
}
label{
    margin-top: .5em;
}

input{
    outline: none;
    height: 1.2em;
    background-color:transparent;
    border: none;
    color: var(--blue);
    border-bottom: 1px solid black;
}
.post-textarea h3 {
    margin: .5em;
    text-align: center;
}
.post-textarea{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72vw;
    height: 57vh;
    border: none;
    /* border: .1em solid black; */
}
#content{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4;
    padding: 1em;
    width: 50vw;
    height: 50vh;
    background-color: rgb(211, 205, 205);
    transition: all 0.2s;
    outline: none;
}
#content:hover{
    cursor: pointer;
    background-color: #eee ;
}
#content:focus{
    cursor: text;
    color: var(--blue);
}


.btn--add{
    font-family: 'Open Sans', sans-serif;
    margin: 1em;
    padding: 0.4em 1.5em;
    color:var(--green) ;
    background-color:var(--blue);
    border-radius:var(--pilled);
    font-size:1em; 
}

.btn--add:hover{
    color: var(--white);
    background-color: var(--purple);
}

.post-backPage:hover{
  color: var(--white);
  background-color: var(--purple);
}
.post-backPage{
position:fixed;
top: 34em;
right: .8em;
font-size: 1em;
font-family: 'Open Sans', sans-serif;
border-radius: var(--pilled);
transform-origin: 50%;
color: var(--white);
border: 1px solid var(--white);
margin: 0.2rem;
padding: 0.6rem 1.2rem;
font-weight: 400;
text-decoration: none;
}

