@font-face {
    font-family: "Open-sans";
    font-weight: normal;
    src: url('/assets/fonts/OpenSans-Regular.ttf');
 }

  @font-face {
    font-family: "Open-sans";
    font-weight: bold;
    src: url('/assets/fonts/OpenSans-Bold.ttf');
  }


:root {
    --white: #ffffff;
    --blue: #050542;
    --green: #66e5bf;
    --purple: #a675f5;
    --lavender-dark: hsl(263, 86%, 60%);
    --attention-background: #05054233;
    --call-to-action: #fffc86;
    --rounded: 0.5rem;
    --pilled: 2rem;
    --shadow: 0.3rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size:"Open-sans", sans-serif;
    font-size: 1.2rem;
    color:var(--blue);
    background-color:var(--blue);
    max-width: 1080px;
    margin:0 auto;
}
html{
    scroll-behavior: smooth;
}

/* heder */
/* logo HvA */

body>header>section{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 1em; 
}

.logo {
    width: 200px;
    height: 150px;
    margin: 0 1.8em;
    color: var(--white);
    
}

.fdnd{
    border-left: 1px solid var(--white);
    padding-left: 1em;
    font-family: "Open-sans",sans-serif;
    color: var(--white);
}
header h1{
  font-size:2em;
}
.head__container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 2em;
  max-width: 80vw;
  height: 50vh;
  border-radius: 1em;
  margin: 0;
  background-color:var(--purple) ;
}
.serch_articl{
    display: flex;
    justify-content: center;
    max-width: 80vw;
    padding: 2em;
}
#input-search{
    width:70vw;
    height: 6vh;
    padding: 1em;
    font-size: 1em;
    color: var(--purple);
    border-radius: 1em;
    border: 1px solid var(--purple);
    background-color:transparent;
}
.btn-search{
    width: 10vw;
    height: 6vh;
    font-size: 1em;
    margin-left: 1em;
    border-radius: 1em;
    color: var(--purple);
    border: 1px solid var(--purple);
    background-color:transparent;
    cursor: pointer;
}
.btn-search:hover{
    color: var(--green);
}
/* main home */

main{
    display: flex;
    justify-content: center;
    gap: 1.5em;
    max-width: 80vw;
    height: 80vh;


}
/* article contianet */
.contianer{
    display: flex;
    justify-content:center;
    width: 45vw;
    border-radius: 1em;
    color: var(--blue);
    background-color: var(--green);
}
.contianer article{
    width: 47vw;
    padding: 2em;
}

/* Articl content  */
article >p{
    max-width: 28em;
}

img{
    width: 30vw;
    height: 25vh;
    margin: .5em 0 .5em 0;
    border-radius: 1em;
}
/* Aside */
#aside{
    display: grid;
    place-items: center;
    width: 25vw;
    border-radius: 1em;
    background-color: var(--green);
}
#aside h4{
    color: var(--blue);
}

.aside-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
    padding-top: 2em;
    width: 21vw;
    height: 72vh;
    border-radius: 1em;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* background-color: var(--blue); */
}
.aside-content{
    width: 17vw;
    height: 20vh;
    padding: .5em;
    border-radius: .3em;
    background-color: var(--blue);
    color:var(--green);

}
.aside-link{
    text-decoration: none;
}
.aside-imge{
    width: 16vw;
    height: 8vh;
}
h6{
    color: var(--green);
}
.aside-link > p{
    font-size: .8em;
    color: var(--green);
    
}



/* Footer */
footer{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin-top: 2em;
    color: var(--purple);
}
footer nav{
    padding: 1rem;
    border: 1px solid var(--purple);
    color:var(--purple);
    border-radius: var(--pilled);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer>nav>p,ul{
    font-size: 1.5rem;
    font-family: "Open-sans",sans-serif;
    font-weight: normal;
    line-height: 1.75;
    margin:1.5em;
   }
footer>nav>ul>li>a{
    color: var(--purple);
    text-decoration-line: underline;
}
footer a:hover{
    color:var(--green);
}
footer>nav>ul>li{
    padding:.5em;
}

footer h2 {
    margin: calc(-1rem - 1px) calc(-1rem - 1px) 2rem 0;
    padding: 0 1rem 0.5rem 1rem;
    position:relative;
    width: fit-content;
    font-size: calc(1.3rem + 1.5vw);
    line-height: calc(1.5rem + 1.5vw);
    color: var(--purble);
    background: var(--blue);
    border-left: 1px solid var(--purple);
    border-bottom: 1px solid var(--purple);
    border-bottom-left-radius: var(--rounded);
    border-bottom-right-radius: 0;
    z-index: 2;
  }
  
 footer h2::before{
    content: "";
    position: absolute;
    top: 54px;
    right: calc(0 * var(--rounded));
    box-shadow: 0 calc(-1 * var(--rounded)) 0 0 var(--blue);
    background-color:transparent;
    width: var(--rounded);
    height: calc(2 * var(--rounded));
    border-top-right-radius: var(--rounded);
    border-top-left-radius: 0;
    border-right: 1px solid var(--purple);
  }
  footer h2::after{
    content: "";
    position: absolute;
    top: -.1px;
    left: calc(-1.1 * var(--rounded));
    box-shadow: 0 calc(-1 * var(--rounded)) 0 0 var(--blue);
    background-color:transparent;
    width: var(--rounded);
    height: calc(2 * var(--rounded));
    border-top-right-radius: var(--rounded);
    border-top-left-radius: 0;
    border-right: 1px solid var(--purple);
  }

  footer ul{
      margin-left:5em;
      padding-left: 2em;
      width:100%;
      list-style:none;
      display: flex;
     justify-content: space-between;

  }
  .quot{
      display: grid;
      place-items: left;
      margin: 3%;
      font-size: 1.5em;
      color: var(--white);
      margin-bottom: 1em;
    }  
    
   .time{
    color: var(--white);
   }

